@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-desktop{
    background: url(https://images.pexels.com/photos/5220092/pexels-photo-5220092.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center;
    background-size: cover;
}

.background-image-mobile{
    background: url(https://i.pinimg.com/564x/44/f6/a9/44f6a9c26973dc69a1e64519ba432937.jpg) no-repeat center;
    background-size: cover;
}